<div class="addMovie" ></div>
    <h4 class="addMovie__title"># Ajouter ou modifier un film</h4>
    <form class="addMovie__form">
     <input
       required
       type="text"
       name="Titre de film"
       placeholder="Saisir un Titre de film"
       pattern="[^0-9]*"
       title="Numbers are not allowed"
       />
       <input
       required
       type="text"
       name="Réalisateur"
       placeholder="Saisir un Réalisateur"
       pattern="[^0-9]*"
       title="Numbers are not allowed"
       />
       <input
       required
       type="date"
       name="Année de sortie"
       placeholder="Saisir un Année de sortie"
       pattern="[^0-9]*"
       title="Numbers are not allowed"
       />
       <input
       required
       type="number"
       name="Durée en minutes"
       placeholder="Saisir un Durée en minutes"
       pattern="[^0-9]*"
       title="Numbers are not allowed"
       />
       <input
       required
       type="text"
       name="Description"
       placeholder="Saisir un Description"
       pattern="[^0-9]*"
       title="Numbers are not allowed"
       />
       <input
       required
       type="text"
       name="Catégorie"
       placeholder="Saisir un Catégorie"
       pattern="[^0-9]*"
       title="Numbers are not allowed"
       />
       <input
       required
       type="file"
       name="Nom du fichier"
       placeholder="Saisir un Nom du fichier"
       pattern="[^0-9]*"
       title="Numbers are not allowed"
       />
       <input
       required
       type="url"
       name="URL du trailer"
       placeholder="Saisir un URL du trailer"
       pattern="[^0-9]*"
       title="Numbers are not allowed"
       />
       <input
       required
       type="number"
       name="Restriction d'âge"
       placeholder="Saisir un Restriction d'âge"
       pattern="[^0-9]*"
       title="Numbers are not allowed"
       />
      
      <input onclick="{{handler}}" type="button" value="Ajouter" name="todo" />
       
     

    </form>


</div>