.categorie {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 4rem;
    padding-inline: 2rem;
  }
  
  .categorie__title {
    font-size: 2rem;
    color: white;
    margin-bottom: 2rem;
    padding-left: 0.5rem;
    border-left: 8px solid #007aff;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
  }
  
  .categorie__list {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #007aff transparent;
    -ms-overflow-style: none;
  }
  