.addNewProfil {
    margin: 2rem auto;
    border-radius: 1rem;
    padding: 2rem;
    font-family: Arial, sans-serif;
    width: 90vw;
    max-width: 1750px;
    box-shadow: 0 8px 16px rgba(0, 5, 5, 0.55);
    color: #ecf0f1;
    background-color: var(--color-black--back);
}

.addNewProfil__form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5rem 2rem;
}

.addNewProfil__span {
    height: 2rem;
    border-radius: 0.5rem;
}

.addNewProfil__desc {
    border-radius: 0.5rem;
    height: 5rem;
}

.addNewProfil__title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--color-yellow--but);
}

.addNewProfil__button {
    border-radius: 0.5rem;
    background-color: var(--color-yellow);
}

.addNewProfil__button:hover {
    cursor: pointer;
    background-color: var(--color-yellow--but);
}