<div class="movie__info">
  

  <div class="movie__info__body">
    <img
    src="https://mmi.unilim.fr/~cakir4/SAE2.03-Huzeyfe_ckr/server/images/{{image}}"
    alt="image film"
    class="movie__info__image">
  </div>
  <div class="movie__info__content">
    <h1 class="movie__info__title">{{titre}}</h1>
    <p class="movie__info__desc">{{desc}}</p>
    <p class="movie__info__li">Réalisateur : {{director}}</p>
    <p class="movie__info__li">Année : {{year}}</p>
    <p class="movie__info__li">Durée : {{length}} minutes</p>
    <p class="movie__info__li">Catégorie : {{category}}</p>
    <p class="movie__info__li">Age minimum : {{age}} ans</p>

    <iframe
      class="movie__info__trailer"
      src="{{url}}"
      title="YouTube video trailer"
    >
    </iframe>
  </div>
</div>
