<div class="movie__info">
  <img
    src="https://mmi.unilim.fr/~cakir4/SAE2.03-Huzeyfe_ckr/server/images/{{image}}"
    alt="image film"
    class="movie__image"
  />

  <div class="movie__body">
    <h1 class="movie__title">{{titre}}</h1>
    <p class="movie__desc">{{desc}}</p>
    <p class="movie__director">Réalisateur : {{director}}</p>
    <p class="movie__year">Année : {{year}}</p>
    <p class="movie__length">Durée : {{length}} minutes</p>
    <p class="movie__category">Catégorie : {{category}}</p>
    <p class="movie__age">Age minimum : {{age}} ans</p>

    <iframe
      class="movie__trailer"
      src="{{url}}"
      title="YouTube video trailer"
    >
    </iframe>
  </div>
</div>
