



#movie{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(68, 66, 105); 
    gap: 2rem;
    height: 100vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    
}

.movie__figure{
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden    ;
    
        
  
    
}


.movie__figcaption{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    padding-bottom: 2rem;
    padding-top: 1rem;
    

  
    
}
.movie__images{
    display: flex;
    justify-content: center;
    height: 20rem;
    
    
}
