
.Sae203{
  background-color: rgb(22, 21, 51); 
}


.movie{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    

    
    
    
}

.movie__figure{
    
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden    ;
    flex-shrink: 0;
    position: relative;

    
     
    
    
    
    
        
  
    
}
.movie__figure:hover{
    transform: scale(1.01);
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-decoration: underline;
    transition: transform 0.3s ease-in-out;
   
    
    
    
        
  
    
}
.movie__figcaption{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #007aff;
    padding-bottom: 2rem;
    padding-top: 1rem;  
    color: azure; 
}
.movie__images{
    display: flex;
    justify-content: center;
    height: 30rem;
    width: 20rem;

      
}

.movie__titre{
    font-size: 1rem;
}

.movie__favoris{
    position: absolute;
    top: 20px;  
    right: 20px;
    padding: 1rem;
    background-color: #007aff ;
    border-radius: 50%;

  
}
.movie__favoris::before{
  display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:  -14px; ;
    left: -12px;
    width: 2rem;
    height: 2rem;
    background-color: #007aff;
    border-radius: 50%;
    

}


.movie__favoris:checked {
  
  background-color: #000000  !important;
  border: solid 2px red !important;
  
  


}


@media (max-width: 1024px) {
    #movie{
      grid-template-columns: repeat(2, 1fr);  /
    }
  
    
  
    .movie__title {
      font-size: 1.5rem;
      padding: 1rem;
    }
  }
  
  @media (max-width: 768px) {
    #movie {
      grid-template-columns: 1fr;  
      gap: 1rem;  
    }
  
    
    
  }