.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  color: var(--color-fg);
  background-color: #007aff;
  .navbar__item {
    --_offset: 0.2rem;
    padding: 0.5rem 1rem;
    list-style-type: none;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: var(--_offset);
    cursor: pointer;
    transition: text-underline-offset 0.2s ease-in-out;
    &:hover {
      --_offset: 0.5rem;
    }
  }
}



.navbar__list{
  display: flex;
  flex-direction: row;
  
}

.navbar__profiles{
  display: flex;
  flex-direction: row;
  gap: 2rem;

}


.profile-avatar{
  width: 2.5rem;
  height: 2.5rem;
  border: solid 2px var(--color-fg);
  border-radius: 50%;
  object-fit: cover;
  
  transition: opacity 0.3s ease;
}


.hidden {
  display: none;
}

.navbar__profile-select{
  overflow: hidden;
}