<nav class="navbar font-sans">

   <div class="burger-menu" onclick="C.toggleMenu()">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="navbar__menu">
    <ul class="navbar__list">
      <li class="navbar__item" onclick="window.location.href='index.html'">Home</li>
      <li class="navbar__item" onclick="C.showFavoris()">Favoris</li>
      <div class="navbar__search">
        <input type="search" id="site-search" name="q" placeholder="Rechercher un film, une date" onkeyup="C.handlerSearch(event)"/>
      </div>
    </ul>
  </div>

  <div class="navbar__profiles">
    <img id="profile-image" src="{{imageURL}}" alt="Profile Image" class="navbar__profile__avatar {{initialClass}}">
    <select id="profile-select" required class="navbar__profile__select" onchange="C.handleProfileChange()">
      <option value="" disabled selected>Sélectionner un profil</option>
      {{profileOptions}}
    </select>
  </div>
</nav>