<div class="addProfil">
    <h4 class="addProfil__title">Ajouter un utilisateur</h4>
    <form class="addProfil__form">
      <input required type="text" name="name" placeholder="Saisir un nom" />
      <input
        required
        type="text"
        name="image"
        placeholder="Saisir une image (jpeg,png,jpg)"
      />
      <input
        required
        type="date"
        name="datedenaissance"
        placeholder="Saisir une année"
        
      />
      <button class="addProfil__button" type="button" onclick="{{handler}}">Ajouter</button>
    </form>
  </div>